<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/header' %></head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <%= render 'layouts/navi' %>
</div>

<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>

<div class="container main-content">
  <div class="row">
    <%= yield %>
  </div>
</div>


<%= render 'layouts/footer' %>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
